<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TransportConfiguration xsi:type="TcpClientConfiguration">
    <Name>MyPort</Name>
    <HostName>localhost</HostName>
    <Port>11235</Port>
    <NoDelay>false</NoDelay>
  </TransportConfiguration>
  <TransportConfiguration xsi:type="TcpClientConfiguration">
    <Name>MATLAB</Name>
    <HostName>localhost</HostName>
    <Port>11235</Port>
    <NoDelay>false</NoDelay>
  </TransportConfiguration>
</TransportConfigurationSettings>